/*** global ***/
nav .dropdown-item:active,
nav .dropdown-item.active {
    background-color: #474747;
    color: #EBEBEB;
}

body {
    text-align: justify;
    padding-top: 100px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}
/*** global end ***/

/*** calendar ***/
#years-table .btn-light:focus,
#years-table .btn-light.focus {
    background: #363636;
    color: #f8f9fa;
}

.yearbtn {
    margin-bottom: 4px;
}
/*** calendar end ***/
